.yn-container {
  background: #0f0f0f;
  padding: 12px;
  margin-bottom: 16px;
  color: #fff;
  font-family: Roboto, sans-serif;
}

.yn-title {
  margin: 0 0 8px;
  font-size: 16px;
  color: #fff;
}

/* INPUT */
.yn-textarea {
  width: 100%;
  min-height: 100px;
  padding: 12px;

  resize: vertical;
  box-sizing: border-box;
  border: 1.5px solid #303030;
  border-radius: 12px;
  outline: none;

  background: #0f0f0f;
  color: #f1f1f1;

  transition: border 0.15s ease;
}

.yn-textarea::placeholder {
  color: #888;
}

.yn-textarea:focus {
  border: 1.5px solid #f1f1f1;
  outline: none; /* Prevents the default browser outline */
}

/* SUBMIT BUTTON */
.yn-submit {
  display: block;
  margin-left: auto;
  margin-top: 8px;

  padding: 8px 12px;
  border-radius: 20px;

  background: #272727;
  color: #fff;

  border: none;
  cursor: pointer;

  font-family: Roboto;
  font-weight: 500;
}

.yn-submit:hover {
  background: #3a3a3a;
}

/* CAROUSEL */
.yn-carousel {
  /* font-family: Roboto; */
  display: flex;
  gap: 10px;

  overflow-x: auto;
  padding: 10px 0;

  scroll-snap-type: x mandatory;
}

/* SAVED NOTE CARD */
.yn-card {
  min-width: 220px;
  max-width: 220px;
  box-sizing: border-box;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-content:center;
  
  gap: 10px;

  flex-shrink: 0;

  background: #0f0f0f;
  border: 1px solid #303030;
  border-radius: 11px;

  scroll-snap-align: start;
}

.yn-note-content {
  font-size: 14px;
  color: #fff;
  word-break: break-word;
}

/* TIME + MENU */
.yn-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yn-timestamp {
  font-family: Roboto, sans-serif;
  background: none;
  border: none;
  font-size: 12px;
  color: #BFBFBF;
  font-weight: 500;
}

.yn-timestamp:hover {
  color: #F1F1F1;
}

/* MENU */
.yn-menu-button {
  color: #BFBFBF;
  background: none;
  border: none;
  cursor: pointer;
}

.yn-menu-button:hover {
  color: #F1F1F1;
}

.yn-menu-popup {
  position: absolute;
  top: 28px;
  right: 0;

  width: 80px;

  background: #212121;
  border: 1px solid #303030;
  border-radius: 10px;

  overflow: hidden;

  z-index: 1000;
}

/* edit + delete button */
.yn-menu-popup button {
  width: 100%;
  padding: 10px 12px;

  background: none;
  border: none;

  font-family: Roboto, sans-serif;
  color: #fff;
  text-align: left;
  cursor: pointer;
}

.yn-menu-popup button:hover {
  background: #3a3a3a;
}