*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.8rem 2rem; */
    background-color: black;
    max-width: 950px;
    margin: 0 auto;
    height: 72px;
}

.logo-section{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo-image{
    height: 36px;
    width: auto;
    object-fit: contain;
}

.logo-section:hover .logo-image{
    opacity: 0.85;
}

.set{
    display: flex;
    gap: 20px;
}

.nav-buttons{
    display: flex;
    justify-content: end;
    gap: 25px;
}

.nav-buttons button{
    background: transparent;
    color: rgb(94, 94, 94);
    border: none;
    padding: 10px 20px;
    font-size: 0.95rem;
    cursor: pointer;

}

.nav-buttons button:hover{
    color: white;
}

.nav-buttons button:disabled{
    color: #f6ea7f;
}

.profile-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.profile-image{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(80, 80, 80);
    cursor: pointer;

}

.defualt-profile{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: firebrick;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.5rem;

}