#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.popup {
  color: black;
}

.popup h1 {
  color: darkgreen;
  justify-self: center;
  text-decoration: underline;
}

.settings {
  background-color: #d3d3d3;
  padding: 12px;
  padding-bottom: 1px;
  border-radius: 8px;
  box-sizing: border-box;
}

.setting {
  display: flex;
  align-items: center;
  font-weight: bold;
}
